<!DOCTYPE html>
<html lang="fr">

    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <title>SnowTricks - {% block title %}{% endblock %}</title>
        <meta name="description" content="Site collaboratif de snowboard pour aider à l'apprentissage des figures." />
        <meta name="author" content="Couret Alexandre">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon/favicon-96x96.png') }}">

        <link rel="apple-icon" sizes="57x57"   href="{{ asset('img/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-icon" sizes="60x60"   href="{{ asset('img/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-icon" sizes="72x72"   href="{{ asset('img/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-icon" sizes="76x76"   href="{{ asset('img/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-icon" sizes="114x114" href="{{ asset('img/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-icon" sizes="120x120" href="{{ asset('img/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-icon" sizes="144x144" href="{{ asset('img/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-icon" sizes="152x152" href="{{ asset('img/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon-180x180.png') }}">
    </head>

    <body>
        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }} alert-dismissible text-center">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {{ include('shared/header.html.twig') }}

        <div class="container">
            {% block body %} {% endblock %}
        </div>

        {{ include('shared/footer.html.twig') }}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('js/add-collection-picture.js') }}"></script>
        <script src="{{ asset('js/add-collection-video.js') }}"></script>
        <script src="{{ asset('js/custom-file-input.js') }}"></script>
    </body>
</html>