<header>
    <div>
        <div>
            <a href="/">
                <img src={{ asset('img/logo.jp') }} alt="SnowTricks" />
            </a>
        </div>

        <div>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('trick', {trickId: '43'}) }}">Figures</a></li>
                    {% if app.user.username is defined %}
                        <li><a href="{{ path('profile') }}">Profil</a></li>
                        <li><a href="{{ path('trick_create') }}">Créer une figure</a></li>
                        <li><a href="{{ path('trick_edit', {id: '43'}) }}">Modifier une figure</a></li>
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Connexion</a></li>
                        <li><a href="{{ path('registration') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>