{% extends "base.html.twig" %}

{% block title %}Créer une figure{% endblock %}


{% block body %}
    <div class="add-trick col-lg-8 col-md-10 mx-auto">

        <h1 class="h1 text-center text-primary">Créer une nouvelle figure</h1>

        <div class="mt-4 mb-3">

            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.category) }}
            {{ form_row(form.mainPicture) }}

            <ul class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}"></ul>

            <p class="embed text-left">
                Pour ajouter une vidéo, coller une balise <span class="font-weight-bold">embed</span>
                provenant de la plateforme de votre choix (Youtube, Dailymotion…).
            </p>

            <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"></ul>

            {{ form_row(form._token) }}

            <button type="submit" class="btn btn-success btn-lg col-12">Créer</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/custom-file-input.js') }}"></script>
    <script src="{{ asset('js/add-collection-picture.js') }}"></script>
    <script src="{{ asset('js/add-collection-video.js') }}"></script>
{% endblock %}