{% extends "base.html.twig" %}

{% block title %}Ajouter une image{% endblock %}


{% block body %}
    <div class="add-picture col-lg-8 col-md-10 mx-auto">

        <h1 class="h1 text-primary text-center">Ajouter une image</h1>

        <div class="mt-4 mb-3 add-picture">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.file, 'Image') }}
                {{ form_widget(form.file) }}
                {{ form_help(form.file) }}
            </div>

            {{ form_row(form._token) }}

            <div class="text-center">
                <button type="submit" class="col-6 btn btn-success btn-lg">Ajouter</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/custom-file-input.js') }}"></script>
{% endblock %}