{% extends "base.html.twig" %}

{% block title %}Modifier une figure{% endblock %}


{% block body %}
    <div class="edit-trick col-lg-8 col-md-10 mx-auto">

        <h1 class="h1 mb-4 text-primary text-center">Modifier la figure</h1>

        <!-- Modal pour la suppression de la figure -->
        <div id="deleteTrick{{ trick.id }}"
             class="modal fade delete-trick p-0"
             tabindex="-1"
             role="dialog"
             aria-labelledby="modalDeleteTrick{{ trick.id }}"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="modalDeleteTrick{{ trick.id }}" class="h3 modal-title">
                            Suppression de la figure <span class="font-weight-bold">{{ trickName }}</span>
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="m-0">Voulez-vous supprimer la figure
                            <span class="font-weight-bold">{{ trickName }}</span> ?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                            Annuler
                        </button>
                        <a href="{{ path('trick_delete', {'trickId': trick.id}) }}">
                            <button type="button" class="btn btn-outline-danger">
                                Supprimer
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal pour la modification de l'image principale -->
        <div class="modal-container">
            <div id="editMainPicture" class="modal fade"
                 tabindex="-1" role="dialog" aria-labelledby="modalEditMainPicture" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="h4 modal-title" id="modalEditMainPicture">
                                Choisissez la nouvelle image principale
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ path('trick_main_picture_edit', {'slug': trick.slug}) }}">
                                {% if pictures is not empty %}
                                    <!-- Si il y a des images dans la gallerie -->
                                    <div class="pictures-container d-flex align-content-start flex-wrap">
                                        {% for picture in pictures %}
                                            {% if trick.mainPicture.id is defined  %}
                                                <!-- Si une image principale est défini -->
                                                {% if pictures|length == 1 %}
                                                    <!-- Si il y a uniquement l'image principale -->
                                                    <div class="empty-picture">
                                                        <p class="font-weight-bold">La gallerie d'image est vide</p>
                                                    </div>
                                                {% elseif pictures|length > 1 %}
                                                    <!-- Si il y a plus que l'image principale -->
                                                    {% if picture.id != trick.mainPicture.id %}
                                                    <!-- Evite d'afficher l'image principale dans la gallerie -->
                                                    <div class="picture p-1">
                                                        <input id="editMainPicture" type="radio"
                                                               name="editMainPicture"
                                                               value="{{ picture.id }}"
                                                        >
                                                        <label for="editMainPicture">
                                                            <img src="{{ asset(picture.path ~ '/'  ~ picture.name) }}"
                                                                 class="rounded" alt="{{ trick.name }}"
                                                            />
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            {% elseif trick.mainPicture.id is not defined %}
                                                <!-- Si une image principale n'est pas défini -->
                                                <div class="picture p-1">
                                                    <input id="editMainPicture" type="radio"
                                                           name="editMainPicture"
                                                           value="{{ picture.id }}"
                                                    >
                                                    <label for="editMainPicture">
                                                        <img src="{{ asset(picture.path ~ '/'  ~ picture.name) }}"
                                                             class="rounded" alt="{{ trick.name }}"
                                                        />
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                                            Annuler
                                        </button>
                                        <button type="submit" class="btn btn-success">Modifier</button>
                                    </div>
                                {% elseif trick.pictures is empty %}
                                    <!-- Si il n'y a pas d'image dans la gallerie -->
                                    <p>Veuillez ajouter une image !</p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                                            Annuler
                                        </button>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if trick.mainPicture.id is defined  %}
            <!-- Modal pour la suppression de l'image principale -->
            <div class="modal-container" >
                <div class="deleteMainPicture modal fade"
                     id="deleteMainPicture{{ trick.mainPicture.id }}"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="modalDeleteMainPicture{{ trick.mainPicture.id }}"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="h4 modal-title" id="modalDeleteMainPicture{{ trick.mainPicture.id }}">
                                    Supprimer l'image ?
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="picture text-center">
                                    <img class="rounded"
                                         src="{{ asset(trick.mainPicture.path ~ '/' ~ trick.mainPicture.name) }}"
                                         alt="{{ trick.name }}"
                                    />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Annuler
                                </button>
                                <a href="{{ path('trick_picture_delete', {'pictureId': trick.mainPicture.id, 'trickId': trick.id}) }}">
                                    <button type="button" class="btn btn-danger">Supprimer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Modal affiche en grand une image -->
        <div class="modal-picture">
            <div id="pictureModal" class="modal">
                <span class="close">&times;</span>
                <img id="img" class="modal-content" src="#" alt="{{ trick.name }}" />
            </div>
        </div>

        <!-- Section image principale -->
        <section id="mainPicture" class="position-relative border border-dark">
            {% if trick.mainPicture is not empty %}
                <!-- Si une image principale est défini -->
                <img class="w-100"
                     src="{{ asset(trick.mainPicture.path ~ '/' ~ trick.mainPicture.name) }}"
                     alt="{{ trick.name }}"
                />
                <div id="title" class="text-center">
                    <h2 class="h2">{{ trickName }}</h2>
                </div>
                <div class="buttons d-flex">
                    <button type="button"
                            class="btn"
                            title="Modifier l'image principale"
                            data-toggle="modal"
                            data-target="#editMainPicture"
                            data-whatever="@editMainPic" >
                        <img src="{{ asset('img/icons/edit.png') }}" alt="Modifier l'image principale" />
                    </button>
                    <button type="button"
                            class="btn"
                            title="Supprimer l'image principale"
                            data-toggle="modal"
                            data-target="#deleteMainPicture{{ trick.mainPicture.id }}"
                            data-whatever="@deleteMainPic">
                        <img src="{{ asset('img/icons/delete.png') }}" alt="Supprimer l'image principale" />
                    </button>
                </div>
            {% else %}
                <!-- Si aucune image principale n'est défini -->
                <img class="w-100" src="{{ asset('uploads/trick/'~ 'default.jpg') }}" alt="Image principale" />
                <div id="title" class="text-center">
                    <h1 class="h1">{{ trick.name }}</h1>
                </div>
                <div class="buttons">
                    <button type="button"
                            class="btn"
                            title="Modifier l'image principale"
                            data-toggle="modal"
                            data-target="#editMainPicture"
                            data-whatever="@editMainPic">
                        <img src="{{ asset('img/icons/edit.png') }}" alt="Modifier l'image principale" />
                    </button>
                </div>
            {% endif %}
        </section>

        <!-- Bouton Afficher/Masquer les médias -->
        <div id="button-show-hidden-medias" class="mt-3 mb-3 text-center">
            <a href="#" id="showMedia">
                <button class="col-10 btn btn-outline-primary">Afficher les médias</button>
            </a>
            <a href="#" id="hideMedia" class="d-none">
                <button class="col-10 btn btn-outline-primary">Masquer les médias</button>
            </a>
        </div>

        <!-- Section gallerie -->
        <section id="container-gallery" class="medias mt-3">

            <!-- Gallerie images -->
            {% if pictures is not empty %}
                <div class="pictures-trick d-flex justify-content-start align-content-start flex-wrap">
                    {% for picture in pictures %}
                        {% if trick.mainPicture.id is defined  %}
                            <!-- Si une image principale est défini -->
                            {% if picture.id != trick.mainPicture.id %}
                                <!-- Evite d'afficher l'image principale dans la gallerie -->
                                <div class="picture">
                                    <img class="imgModal rounded"
                                         src="{{ asset(picture.path ~ '/'  ~ picture.name) }}"
                                         alt="{{ trick.name }}"
                                    />
                                    <div class="button-container">
                                        <button type="button"
                                                class="btn"
                                                title="Supprimer l'image"
                                                data-toggle="modal"
                                                data-target="#deletePicture{{ picture.id }}"
                                                data-whatever="@deletePic">
                                            <img src="{{ asset('img/icons/delete.png') }}" alt="Supprimer l'image" />
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        {% elseif trick.mainPicture.id is not defined %}
                            <!-- Si une image principale n'est pas défini -->
                            <div class="picture">
                                <img class="imgModal rounded"
                                     src="{{ asset(picture.path ~ '/'  ~ picture.name) }}"
                                     alt="{{ trick.name }}"
                                />
                                <div class="button-container">
                                    <button type="button"
                                            class="btn"
                                            title="Supprimer l'image"
                                            data-toggle="modal"
                                            data-target="#deletePicture{{ picture.id }}"
                                            data-whatever="@deletePic">
                                        <img src="{{ asset('img/icons/delete.png') }}" alt="Supprimer l'image" />
                                    </button>
                                </div>
                            </div>
                        {% endif %}


                        <!-- Modal pour la suppression d'une image -->
                        <div class="modal-container" >
                            <div class="deletePicture modal fade delete"
                                 id="deletePicture{{ picture.id }}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="modalDeletePicture{{ picture.id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="h4 modal-title" id="modalDeletePicture{{ picture.id }}">
                                                Supprimer l'image ?
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="picture text-center">
                                                <img class="rounded"
                                                     src="{{ asset(picture.path ~ '/'  ~ picture.name) }}"
                                                     alt="{{ trick.name }}"
                                                />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Annuler
                                            </button>
                                            <a href="{{ path('trick_picture_delete', {'pictureId': picture.id, 'trickId': trick.id}) }}">
                                                <button type="button" class="btn btn-danger">Supprimer</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    <a href="{{ path('trick_picture_add', {'slug': trick.slug}) }}" class="add" title="Ajouter une image">
                        <img src="{{ asset('img/icons/add.png') }}" alt="Ajouter une image" />
                    </a>
                </div>
            {% elseif pictures is empty %}
                <div class="empty-picture d-flex justify-content-start align-content-start flex-wrap">
                    <a href="{{ path('trick_picture_add', {'slug': trick.slug}) }}" class="add" title="Ajouter une image">
                        <img src="{{ asset('img/icons/add.png') }}" alt="Ajouter une image" />
                    </a>
                </div>
            {% endif %}

            <!-- Gallerie vidéos -->
            {% if videos is not empty %}
                <div class="videos-trick d-flex justify-content-start align-content-start flex-wrap">

                    {% for video in videos %}
                        <div class="video-container">
                            <div class="video pr-1">
                                <iframe src="{{ video.url }}" allowfullscreen></iframe>
                            </div>
                            <div class="button-container">
                                <button type="button"
                                        class="btn"
                                        title="Supprimer la vidéo"
                                        data-toggle="modal"
                                        data-target="#deleteVideo{{ video.id }}"
                                        data-whatever="@deleteUrl">
                                    <img src="{{ asset('img/icons/delete.png') }}" alt="Supprimer la vidéo" />
                                </button>
                            </div>
                        </div>

                        <!-- Modal pour la suppression d'une Url -->
                        <div class="modal-container" >
                            <div class="modal fade delete"
                                 id="deleteVideo{{ video.id }}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="modalDeleteVideo{{ video.id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="h4 modal-title" id="modalDeleteVideo{{ video.id }}">
                                                Supprimer la vidéo ?
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="video pr-1">
                                                <iframe src="{{ video.url }}" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Annuler
                                            </button>
                                            <a href="{{ path('trick_video_delete', {'videoId': video.id, 'trickId': trick.id}) }}">
                                                <button type="button" class="btn btn-danger">Supprimer</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    <a href="{{ path('trick_video_add', {'slug': trick.slug}) }}" class="add" title="Ajouter une vidéo">
                        <img src="{{ asset('img/icons/add.png') }}" alt="Ajouter une vidéo" />
                    </a>
                </div>
            {% elseif videos is empty %}
                <div class="empty-video d-flex justify-content-end align-content-start flex-wrap">
                    <a href="{{ path('trick_video_add', {'slug': trick.slug}) }}" class="add" title="Ajouter une vidéo">
                        <img src="{{ asset('img/icons/add.png') }}" alt="Ajouter une vidéo" />
                    </a>
                </div>
            {% endif %}
        </section>

        <!-- Section infos -->
        <section id="container-infos" class="mt-3">
            <div class="row p-2">
                <div class="infos row text-center col-11 mx-auto bg-light">
                    <p class="col p-3 mb-0">
                        Publié le {{ trick.date | date('d/m/Y') }} à {{ trick.date | date('H:i') }} par
                        <span class="font-weight-bold">{{ trick.user.username }}</span>
                    </p>
                    {% if trick.updateDate is not null %}
                        <!-- Si il y a une date de mise à jour -->
                        <p class="col p-3 mb-0">
                            Mis à jour le {{ trick.updateDate | date('d/m/Y') }} à {{ trick.updateDate | date('H:i') }}
                        </p>
                    {% endif %}
                    <p class="col p-3 mb-0">
                        {% if trick.category == null  %}
                            Catégorie : <span class="font-weight-bold">?????</span>
                        {% elseif trick.category is not null %}
                            Catégorie : <span class="font-weight-bold">{{ trick.category.name }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </section>

        <!-- Section du formulaire de modification -->
        <section id="form-edit-trick" class="mt-4 row text-center">
            {{ form_start(formTrickType) }}

            {{ form_row(formTrickType.name) }}

            {{ form_row(formTrickType.category) }}

            {{ form_row(formTrickType.description) }}

            <input type="hidden" name="trickId" value="{{ trick.id }}" />

            {{ form_row(formTrickType._token) }}

            <div class="buttons">
                <button type="button" class="btn btn-outline-danger btn-lg col-6"
                        data-toggle="modal"
                        data-target="#deleteTrick{{ trick.id }}"
                        data-whatever="@deleteTrick">Supprimer</button>
                <button type="submit" class="btn btn-outline-success btn-lg col-6">Sauvegarder</button>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/popup.js') }}"></script>
    <script src="{{ asset('js/custom-file-input.js') }}"></script>
    <script src="{{ asset('js/show-hide-media-responsive.js') }}"></script>
{% endblock %}